<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h3>Get Data</h3>
<div>
    {{# each books }}
    <article class="item">
        <div>Title: {{ this.name }}</div>
        <div>Author: {{ this.author }}</div>
        <div>ID: {{ this._id }}</div>
    </article>
    {{/each}}
</div>
</body>
</html>